/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */

/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */

/* Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.noscript {
  margin: 0;
  padding: 15px;
  color: #fff;
  text-align: center;
  background-color: #f00;
}

.noscript__link {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 320px;
  color: #000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  line-height: 16px;
  background-color: #c6c8ca;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
}

.page {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper {
  padding: 0 13px;
}

.sidebar {
  width: 245px;
  margin-right: 5px;
  background-color: #f1f1f2;
}

.page-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn-round {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  padding: 0;
  color: #91162e;
  background-color: #fff;
  border: 1px solid #e2e3e4;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.btn-round--menu svg {
  position: relative;
  top: 2px;
}

.btn-round:hover {
  background-color: #f5f5f5;
}

.btn-round:active {
  color: rgba(145, 22, 46, 0.6);
}

.section {
  padding: 11px 0;
  background-color: #fff;
}

.section__title {
  color: #91162e;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.nav-main {
  color: #585858;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: #f1f1f2;
}

.nav-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-main__link {
  display: block;
  width: 100%;
  padding: 10px 4px;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.nav-main__link[href]:hover {
  color: #91162e;
}

.nav-main__link[href]:active {
  color: inherit;
  opacity: 0.6;
}

.nav-main__link--active {
  color: #91162e;
}

.nav-main__close-icon {
  display: none;
}

.nav-main li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-main li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 14px;
  background-color: #afafaf;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav-main li:last-child::after {
  display: none;
}

.cart {
  position: relative;
}

.cart__count {
  position: absolute;
  right: 0;
  bottom: -5px;
  z-index: 1;
  padding: 0 4px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  background-color: #91162e;
  border-radius: 10px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-call__btn {
  margin-right: 15px;
}

.header-call__text {
  margin-right: 25px;
}

.header-call__phone {
  margin-bottom: 2px;
  color: inherit;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.header-call__phone:hover {
  color: #91162e;
}

.header-call__phone:active {
  color: inherit;
  opacity: 0.6;
}

.header-call__schedule {
  margin: 0;
}

.header-call__order-link {
  width: 65px;
  color: #91162e;
  text-transform: uppercase;
  text-decoration: none;
}

.header-call__order-link:hover {
  color: #df2e50;
}

.header-call__order-link:active {
  color: #91162e;
  opacity: 0.6;
}

.region-choise__label {
  margin: 0;
  text-transform: uppercase;
}

.region-choise__current-region {
  padding: 0;
  background: none;
  border: 0;
}

.region-choise__current-region:hover {
  color: #91162e;
}

.region-choise__current-region:active {
  color: inherit;
  opacity: 0.6;
}

.region-choise span {
  margin-right: 15px;
}

.search-form {
  position: relative;
  padding-right: 31px;
  border: 1px solid #c6c8ca;
}

.search-form [type="text"] {
  width: 100%;
  padding: 7px 10px 8px;
  background-color: #fff;
  border: 0;
  outline: 0;
}

.search-form ::-webkit-input-placeholder {
  color: #c6c8ca;
}

.search-form ::-moz-placeholder {
  color: #c6c8ca;
}

.search-form :-ms-input-placeholder {
  color: #c6c8ca;
}

.search-form ::-ms-input-placeholder {
  color: #c6c8ca;
}

.search-form ::placeholder {
  color: #c6c8ca;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 31px;
  height: 30px;
  color: #c6c8ca;
  border: 0;
  background: #fff;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.search-form button:hover {
  color: #91162e;
}

.search-form button:active {
  color: #c6c8ca;
  opacity: 0.6;
}

.search-form button::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 1px;
  height: calc(100% - 2px);
  background-color: #c6c8ca;
}

.nav-catalog__header {
  border-bottom: 1px solid #cecece;
}

.nav-catalog__title {
  display: block;
  padding: 11px 13px;
  color: #91162e;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-catalog__title:hover {
  background-color: #e2e3e4;
}

.nav-catalog__title:active {
  color: rgba(145, 22, 46, 0.6);
}

.nav-catalog__menu-btn {
  display: none;
}

.nav-catalog__list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-catalog__category-item {
  position: relative;
  border-bottom: 1px solid #cecece;
}

.nav-catalog__link {
  display: block;
  padding: 8px 0 7px 13px;
  color: #58585b;
  font-weight: bold;
  text-decoration: none;
}

.nav-catalog__link:hover {
  color: #91162e;
  background-color: #e2e3e4;
}

.nav-catalog__link:active {
  color: rgba(145, 22, 46, 0.6);
}

.nav-catalog__btn-expand {
  position: absolute;
  top: 0;
  right: 0;
  width: 31px;
  height: 31px;
  border: 0;
  border-left: 1px solid #e2e3e4;
  background: none;
}

.nav-catalog__btn-expand:hover {
  opacity: 1;
}

.nav-catalog__btn-expand:active {
  opacity: 0.6;
}

.nav-catalog__btn-expand:hover::before,
.nav-catalog__btn-expand:hover::after {
  background-color: #91162e;
}

.nav-catalog__btn-expand::before,
.nav-catalog__btn-expand::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #a5a5a7;
}

.nav-catalog__btn-expand::before {
  width: 8px;
  height: 2px;
}

.nav-catalog__btn-expand::after {
  width: 2px;
  height: 8px;
  -webkit-transition: 0.2s height;
  -o-transition: 0.2s height;
  transition: 0.2s height;
}

.nav-catalog__sublist {
  display: none;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  list-style: none;
}

.nav-catalog__sublink {
  display: block;
  padding: 3px 29px;
  color: #585858;
  text-decoration: none;
}

.nav-catalog__sublink:hover {
  color: #91162e;
  background-color: #e2e3e4;
}

.nav-catalog__sublink:active {
  color: rgba(145, 22, 46, 0.6);
}

.nav-catalog__link--download {
  color: #91162e;
}

.nav-catalog__category-item--open .nav-catalog__link {
  color: #91162e;
}

.nav-catalog__category-item--open .nav-catalog__btn-expand {
  height: 32px;
  border-bottom: 1px solid #e2e3e4;
}

.nav-catalog__category-item--open .nav-catalog__btn-expand::before,
.nav-catalog__category-item--open .nav-catalog__btn-expand::after {
  background-color: #91162e;
}

.nav-catalog__category-item--open .nav-catalog__btn-expand::after {
  height: 2px;
}

.nav-catalog__category-item--open .nav-catalog__sublist {
  display: block;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

._menu-show .modal-background {
  display: block;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
  color: #585858;
  background-color: #fff;
}

.page-header__main {
  padding: 6px 0;
}

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__call {
  margin-right: 45px;
}

.page-header__region {
  margin-right: 5px;
}

.page-header__search {
  margin-left: auto;
  margin-right: 25px;
}

.page-header__menu-btn {
  display: none;
}

.page-header__banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 243px;
  height: 130px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
  background-color: #91162e;
}

.page-header__banner {
  width: 732px;
  height: 130px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #afafaf;
}

._menu-show .page-header__cart {
  margin-left: auto;
}

.page-footer {
  width: 100%;
  margin-top: 5px;
  color: #fff;
  background-color: #777;
}

.page-footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer a {
  color: inherit;
  text-decoration: none;
}

.page-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 975px) {
  .header-call__text {
    margin-right: 0;
  }

  .header-call__order-link {
    display: none;
  }

  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .page-header__call {
    margin-right: 35px;
  }

  .page-header__banners {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .page-header__logo {
    width: 165px;
    height: 84px;
  }

  .page-header__logo svg {
    width: 102px;
    height: 30px;
  }

  .page-header__banner {
    display: none;
  }

  .page-header__main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .page-header__nav {
    width: 100%;
  }
}

@media (max-width: 875px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0;
    width: 100%;
  }

  ._menu-show .nav-main__wrapper {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  ._menu-show .nav-main__menu-btn {
    position: fixed;
    z-index: 101;
    right: 315px;
  }

  ._menu-show .nav-main__menu-icon {
    display: none;
  }

  ._menu-show .nav-main__close-icon {
    display: inline-block;
  }

  .nav-main__wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 100;
    width: 320px;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 100px;
    overflow: auto;
    background-color: #f1f1f2;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.4s ease-in-out transform;
    -o-transition: 0.4s ease-in-out transform;
    transition: 0.4s ease-in-out transform;
  }

  .nav-main__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-main__list li::after {
    display: none;
  }

  .nav-main__link {
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    text-transform: none;
  }

  .nav-main__link--active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 4px;
    height: 15px;
    background-color: #91162e;
  }

  .nav-main__link[href]:hover {
    background-color: #e2e3e4;
  }

  .nav-catalog__list {
    position: fixed;
    top: 125px;
    right: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width: 250px;
    height: calc(100vh - 125px);
    padding-bottom: 20px;
    overflow: auto;
    background-color: #f1f1f2;
    -webkit-transition: 0.5s -webkit-transform;
    transition: 0.5s -webkit-transform;
    -o-transition: 0.5s transform;
    transition: 0.5s transform;
    transition: 0.5s transform, 0.5s -webkit-transform;
  }

  ._catalog-show .nav-catalog__list {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }

  .nav-catalog__header {
    position: absolute;
    top: 85px;
    padding-right: 40px;
    border: 0;
  }

  .nav-catalog__title {
    padding: 12px 13px 11px;
  }

  .nav-catalog__menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 39px;
    color: #91162e;
    border: 0;
    background: none;
  }

  .nav-catalog__menu-btn:hover {
    background-color: #e2e3e4;
  }

  .nav-catalog__menu-btn:active {
    color: rgba(145, 22, 46, 0.6);
  }

  .page-header {
    margin-bottom: 5px;
  }

  .page-header__call {
    margin-right: 25px;
  }

  .page-header__search {
    position: absolute;
    top: 88px;
    right: 13px;
    margin-right: 0;
  }

  .page-header__menu-btn {
    display: inline-block;
    margin-left: auto;
    margin-right: 15px;
  }

  .page-header__nav {
    height: 40px;
  }
}

@media (max-width: 700px) {
  .header-call__btn {
    margin-right: 0;
  }

  .header-call__text {
    display: none;
  }
}

@media (max-width: 540px) {
  .nav-catalog__list {
    top: 91px;
    height: calc(100vh - 91px);
  }

  .nav-catalog__header {
    top: 51px;
  }

  .nav-catalog__header span {
    display: none;
  }

  .page-header__banners {
    position: absolute;
    left: 50%;
    top: 15px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .page-header__logo {
    width: auto;
    height: auto;
    color: #91162e;
    background-color: transparent;
  }

  .page-header__logo svg {
    width: 62px;
    height: 18px;
  }

  .page-header__region {
    display: none;
  }

  .page-header__search {
    top: 54px;
  }
}

@media (max-width: 400px) {
  .nav-catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-top: 10px;
  }

  .nav-catalog__header {
    left: unset;
    right: 0;
  }

  .page-header__search {
    position: relative;
    top: 0;
    right: 0;
    margin: 0 10px;
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .no-js .page-header__search {
    display: none;
  }
}