.page {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  padding: 0 13px;
}

.sidebar {
  width: 245px;
  margin-right: 5px;
  background-color: #f1f1f2;

  // .sidebar__banner
  &__banner {
    // Пока не делаем
  }
}

.page-main {
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: 200px;
    margin-bottom: 15px;
  }

  &__image {
    margin: 0;
    margin-bottom: 13px;
    background-color: #c4c4c4;
  }

  &__content a {
    color: #001aff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (max-width: $br2) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: $br2 + 50px) and (min-width: $br2), (max-width: $br2 - 70px) {
  .grid {
    max-width: 474px;
  }
}

@media (max-width: 450px) {
  .grid {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
