// Common mixins

@mixin font($font-name, $file-name, $weight, $style) {
  @font-face {
    font-family: $font-name;
    font-display: swap;
    src: url("../fonts/#{$file-name}.woff2") format("woff2"),
      url("../fonts/#{$file-name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin circle($size) {
  @include size($size);
  border-radius: 50%;
}

// SVG-decorations
// 1. Triangle corner below the block
@mixin corner($height, $color) {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: -$height;
    left: 0;

    width: 100%;
    height: $height;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0l161.429 34L320 0z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E");

    background-size: 100% $height;
    background-repeat: no-repeat;
  }
}

// 2. Reverse-triange corner above the block
@mixin corner-reverse($height, $color) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -$height;

    width: 100%;
    height: $height;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0v34h160zm320 0v34H160z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% $height;
  }
}

// 3. Diagonal border above the block
@mixin diagonal($height, $color) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -$height;
    left: 0;

    width: 100%;
    height: $height;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 10 10'%3E%3Cpath fill='none' d='M-1-1h12v12H-1z'/%3E%3Cg%3E%3Cpath d='M0 10h10V0L0 10z' fill='%23#{$color}'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 100%;
  }
}

// SVG icons
@mixin svg-ico($width, $height) {
  background-repeat: no-repeat;
  background-size: $width, $height;
}

@mixin svg-ico-double-chevron($color, $width, $height: $width) {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.94L0.841163 0L4.42058 4L0.841163 8L0 7.06L2.73229 4L0 0.94ZM3.57942 0.94L4.42058 0L8 4L4.42058 8L3.57942 7.06L6.31171 4L3.57942 0.94Z' fill='#{$color}'/%3E%3C/svg%3E%0A");

  @include svg-ico($width, $height);
}

@mixin svg-ico-mail($color, $width, $height: $width) {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 3L7.5 6.75L1.5 3V1.5L7.5 5.25L13.5 1.5V3ZM13.5 0H1.5C0.6675 0 0 0.6675 0 1.5V10.5C0 10.8978 0.158035 11.2794 0.43934 11.5607C0.720644 11.842 1.10218 12 1.5 12H13.5C13.8978 12 14.2794 11.842 14.5607 11.5607C14.842 11.2794 15 10.8978 15 10.5V1.5C15 0.6675 14.325 0 13.5 0Z' fill='#{$color}'/%3E%3C/svg%3E%0A");

  @include svg-ico($width, $height);
}

@mixin svg-ico-home($color, $width, $height: $width) {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.6 12V7.76471H8.4V12H11.9V6.35294H14L7 0L0 6.35294H2.1V12H5.6Z' fill='#{$color}'/%3E%3C/svg%3E%0A");

  @include svg-ico($width, $height);
}

@mixin svg-ico-phone-classic($color, $width, $height: $width) {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 0C4.6625 0 2.0875 1.12421 0.18125 2.94947C0.06875 3.06316 0 3.22105 0 3.39789C0 3.57474 0.06875 3.73263 0.18125 3.84632L1.73125 5.41263C1.84375 5.52632 2 5.59579 2.1875 5.59579C2.34375 5.59579 2.5 5.52632 2.6125 5.41895C3.10625 4.95158 3.66875 4.56 4.275 4.25053C4.48125 4.14947 4.625 3.93474 4.625 3.68211V1.72421C5.53125 1.42105 6.49375 1.26316 7.5 1.26316C8.49375 1.26316 9.4625 1.42105 10.3687 1.71789V3.67579C10.3687 3.9221 10.5125 4.14316 10.7188 4.24421C11.3313 4.55368 11.875 4.95158 12.3875 5.41263C12.5 5.52632 12.6562 5.58947 12.8125 5.58947C13 5.58947 13.1562 5.52 13.2687 5.40632L14.8187 3.84C14.9312 3.72632 15 3.56842 15 3.39158C15 3.21474 14.925 3.06316 14.8125 2.94947C12.9063 1.12421 10.3313 0 7.5 0ZM5.625 2.52632V4.42105C5.625 4.42105 1.875 7.57895 1.875 9.47368V12H13.125V9.47368C13.125 7.57895 9.375 4.42105 9.375 4.42105V2.52632H8.125V3.78947H6.875V2.52632H5.625ZM7.5 5.68421C8.16304 5.68421 8.79893 5.95037 9.26777 6.42415C9.73661 6.89793 10 7.54051 10 8.21053C10 8.88055 9.73661 9.52312 9.26777 9.9969C8.79893 10.4707 8.16304 10.7368 7.5 10.7368C6.83696 10.7368 6.20107 10.4707 5.73223 9.9969C5.26339 9.52312 5 8.88055 5 8.21053C5 7.54051 5.26339 6.89793 5.73223 6.42415C6.20107 5.95037 6.83696 5.68421 7.5 5.68421ZM7.5 6.63158C7.0856 6.63158 6.68817 6.79793 6.39515 7.09404C6.10212 7.39015 5.9375 7.79176 5.9375 8.21053C5.9375 8.62929 6.10212 9.0309 6.39515 9.32701C6.68817 9.62312 7.0856 9.78947 7.5 9.78947C7.9144 9.78947 8.31183 9.62312 8.60485 9.32701C8.89788 9.0309 9.0625 8.62929 9.0625 8.21053C9.0625 7.79176 8.89788 7.39015 8.60485 7.09404C8.31183 6.79793 7.9144 6.63158 7.5 6.63158Z' fill='#{$color}'/%3E%3C/svg%3E ");

  @include svg-ico($width, $height);
}

// Container for retina properties
@mixin retina {
  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    @content;
  }
}

// Background settings for webp and retina
@mixin webp-retina-bg($url) {
  $trim-url: str-slice($url, 0, -4);
  $format: str-slice($url, -3);

  .no-webp & {
    background-image: url("#{$url}");

    @include retina {
      background-image: url("#{$trim-url}@x2.#{$format}");
    }
  }

  .webp & {
    background-image: url("#{$trim-url}.webp");

    @include retina {
      background-image: url("#{$trim-url}@x2.webp");
    }
  }
}

@mixin webp-bg($url) {
  $trim-url: str-slice($url, 0, -5);

  .no-webp & {
    background-image: url("#{$url}");
  }

  .webp & {
    background-image: url("#{$trim-url}.webp");
  }
}

@mixin webp-bg-clean {
  .no-webp & {
    background-image: none;
  }

  .webp & {
    background-image: none;
  }
}
