// Breakpoints
// $desktop-width-max: 1200px;

// Color pallete
$cl-white: #fff;
$cl-black: #000;
$cl-bg: #c6c8ca;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// General document variables
$g-bg-color: $cl-bg;
$g-text-color: $cl-black;
$g-font: "Roboto", "Arial", sans-serif;
$g-font-size: 13px;
$g-line-height: 16px;
