// Breakpoints
$br1: 975px;
$br2: 875px;
$br3: 680px;
$br4: 500px;

// Color pallete
$cl-white: #fff;
$cl-black: #000;
$cl-red: #91162e;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// General document variables
$g-bg-color: #c6c8ca;;
$g-text-color: $cl-black;
$g-font: "Roboto", "Arial", sans-serif;
$g-font-size: 13px;
$g-line-height: 16px;
