<article class="grid__item video-gallery__item" data-youtube-id="@@id">
  <figure class="grid__image video-gallery__image" style="background-image: url(https://i.ytimg.com/vi/@@id/mqdefault.jpg)">
    <a href="https://youtu.be/@@id" target="_blank" class="video-gallery__image-link js-youtube-btn">
      <span class="video-gallery__icon">
        <svg class="nav-main__menu-icon" width="49" height="34">
          <use xlink:href="img/sprite.svg#youtube"></use>
        </svg>
      </span>
    </a>
  </figure>
  <div class="grid__content">
    <a href="https://youtu.be/@@id" target="_blank">
      @@text
    </a>
  </div>
</article>
