.cart {
  position: relative;

  // .cart__btn
  &__btn {
    // Пока не требуется
  }

  // .cart__count
  &__count {
    position: absolute;
    right: 0;
    bottom: -5px;
    z-index: 1;
    padding: 0 4px;
    color: $cl-white;
    font-size: 10px;
    font-weight: bold;
    background-color: $cl-red;
    border-radius: 10px;
    pointer-events: none;
  }
}
