.nav-main {
  color: #585858;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: #f1f1f2;

  // .nav-main__wrapper
  &__wrapper {
  }

  // .nav-main__list
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // .nav-main__link
  &__link {
    display: block;
    padding: 10px 13px;
    text-decoration: none;
    color: inherit;
  }

  &__link[href] {
    &:hover {
      color: $cl-red;
    }

    &:active {
      color: inherit;
      opacity: 0.6;
    }
  }

  // .nav-main__link--active
  &__link--active {
    color: $cl-red;
  }

  li {
    position: relative;
    flex-grow: 1;
  }

  li::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 14px;
    background-color: #afafaf;
    transform: translateY(-50%);
  }

  li:last-child::after {
    display: none;
  }
}
