.region-choise {

  // .region-choise__label
  &__label {
    margin: 0;
    text-transform: uppercase;
  }

  // .region-choise__current-region
  &__current-region {
    padding: 0;
    background: none;
    border: 0;

    &:hover {
      color: $cl-red;
    }

    &:active {
      color: inherit;
      opacity: 0.6;
    }
  }

  span {
    margin-right: 15px;
  }
}
