.page-footer {
  width: 100%;
  margin-top: 5px;
  padding: 25px 13px 0 13px;
  color: #fff;
  background-color: #777;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.6;
    }
  }

  // .page-footer__main
  &__main {
    display: flex;
    padding-bottom: 13px;
    border-bottom: 1px solid #fff;
  }

  // .page-footer__nav
  &__nav {
    flex-shrink: 0;
    margin-right: 20px;
  }

  // .page-footer__links
  &__links {
    list-style: none;
    columns: 2;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 11px;
  }

  &__links li {
    padding-left: 15px;
    margin-bottom: 5px;

    @include svg-ico-double-chevron("%23ffffff", 8);
    background-position-y: 3px;
  }

  // .page-footer__search
  &__search {
    width: 230px;
  }

  // .page-footer__contacts
  &__contacts {
    margin-right: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  // .page-footer__contact-list
  &__contact-list {
    @include reset-list;

    padding-left: 21px;
    margin-bottom: 10px;
    background-position-y: 2px;
  }

  // .page-footer__contact-list--phone
  &__contact-list--phone {
    @include svg-ico-phone-classic("%23ffffff", 15, 20);
  }

  // .page-footer__contact-list--address
  &__contact-list--address {
    @include svg-ico-home("%23ffffff", 14, 12);
  }

  &__contact-list--address li {
    margin-bottom: 7px;
  }

  // .page-footer__contact-list--mail
  &__contact-list--mail {
    @include svg-ico-mail("%23ffffff", 15, 12);
  }

  // .page-footer__right-column
  &__right-column {
    margin-left: auto;
    flex-shrink: 0;
  }

  // .page-footer__maps
  &__maps {
    display: flex;
    justify-content: space-between;
    width: 261px;
    margin-bottom: 5px;
  }

  // .page-footer__map
  &__map {
    width: 128px;
    height: 135px;
    background-color: #c4c4c4;
  }

  // .page-footer__social-links
  &__social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__social-links p {
    margin: 0;
    margin-right: 13px;
  }

  // .page-footer__social-link
  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }

  // .page-footer__social-link--vk
  &__social-link--vk {
    $bg-c: #6383a8;
    background-color: $bg-c;

    &:hover {
      background-color: darken($bg-c, 10%);
    }
  }

  // .page-footer__social-link--twitter
  &__social-link--twitter {
    $bg-c: #00bbf0;
    background-color: $bg-c;

    &:hover {
      background-color: darken($bg-c, 10%);
    }
  }

  // .page-footer__social-link--youtube
  &__social-link--youtube {
    margin-right: 0;
    $bg-c: #cc0e1e;
    background-color: $bg-c;

    &:hover {
      background-color: darken($bg-c, 10%);
    }
  }

  // .page-footer__copyright
  &__copyright {
    padding: 15px 0;
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: $br2) {
  .page-footer__main {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;
  }

  .page-footer__contacts {
    margin: 20px auto 0;
    order: 1;
  }

  .page-footer__right-column {
    margin-left: 0;
  }
}

@media (max-width: $br3) {
  .page-footer__main {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: $br4) {
  .page-footer__nav {
    margin-bottom: 20px;
  }

  .page-footer__search {
    margin: auto;
    width: 100%;
    font-size: 16px;
  }

  .page-footer__links {
    font-size: 14px;

    li {
      margin-bottom: 10px;
    }
  }

  .page-footer__contacts {
    font-size: 14px;
    line-height: 20px;
  }

  .page-footer__right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
  }

  .page-footer__maps {
    margin-bottom: 30px;
  }

  .page-footer__social-links {
    flex-wrap: wrap;
    justify-content: center;

    p {
      width: 100%;
      margin-bottom: 20px;
      font-size: 16px;
      text-align: center;
    }
  }

  .page-footer__social-link {
    width: 50px;
    height: 50px;

    svg {
      transform: scale(1.7);
    }
  }
}
