.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
  color: #585858;
  background-color: $cl-white;

  // .page-header__main
  &__main {
    padding: 6px 0;
  }

  // .page-header__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
  }

  // .page-header__call
  &__call {
    margin-right: 45px;
  }

  // .page-header__region
  &__region {
    margin-right: 5px;
  }

  // .page-header__search
  &__search {
    margin-left: auto;
    margin-right: 25px;
  }

  // .page-header__menu-btn
  &__menu-btn {
    display: none;
  }

  // .page-header__cart
  &__cart {
    // Пока не требуется
  }

  // .page-header__banners
  &__banners {
    display: flex;
    justify-content: space-between;
  }

  // .page-header__logo
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 243px;
    height: 130px;
    flex-shrink: 0;
    color: $cl-white;
    background-color: $cl-red;
  }

  // .page-header__banner
  &__banner {
    width: 732px;
    height: 130px;
    flex-shrink: 0;
    background-color: #afafaf;
  }
}

._menu-show .page-header__cart {
  margin-left: auto;
}

@media (max-width: $br1) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-header__call {
    margin-right: 35px;
  }

  .page-header__banners {
    order: -1;
  }

  .page-header__logo {
    width: 165px;
    height: 84px;

    svg {
      width: 102px;
      height: 30px;
    }
  }

  .page-header__banner {
    display: none;
  }

  .page-header__main {
    flex-grow: 1;
  }

  .page-header__nav {
    width: 100%;
  }
}

@media (max-width: $br2) {
  .page-header {
    margin-bottom: 5px;
  }

  .page-header__call {
    margin-right: 25px;
  }

  .page-header__search {
    position: absolute;
    top: 88px;
    right: 13px;
    margin-right: 0;
  }

  .page-header__menu-btn {
    display: inline-block;
    margin-left: auto;
    margin-right: 15px;
  }

  .page-header__nav {
    height: 40px;
  }
}

@media (max-width: $br4) {
  .page-header__banners {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
  }

  .page-header__logo {
    width: auto;
    height: auto;
    color: $cl-red;
    background-color: transparent;

    svg {
      width: 62px;
      height: 18px;
    }
  }

  .page-header__region {
    display: none;
  }

  .page-header__search {
    top: 54px;
  }
}

@media (max-width: $br5) {
  .page-header__search {
    // Временно:
    display: none;
  }
}
