.video-gallery {

  // .video-gallery__item
  &__item {
    // Пока не требуется
  }

  // .video-gallery__image
  &__image {
    height: 107px;
    background-size: cover;
    background-position: center;
  }

  // .video-gallery__image-link
  &__image-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $cl-red;

    &:hover {
      color: lighten($cl-red, 20%);
    }

    &:active {
      opacity: 0.6;
    }
  }

  ._play &__image-link {
    display: none;
  }

  // .video-gallery__icon
  &__icon {
    position: relative;
    width: 49px;
    height: 34px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 20px;
      height: 20px;
      background-color: #fff;
    }
  }

  &__description {
    max-height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

@media (max-width: 450px) {
  .video-gallery__item {
    width: 100%;
    max-width: 320px;

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }
  }

  .video-gallery__image {
    height: 180px;
  }
}
